policy_module(unitedworldmoney, 1.100.1)

########################################
#
# Declarations
#

type unitedworldmoney_t;
type unitedworldmoney_exec_t;
init_daemon_domain(unitedworldmoney_t, unitedworldmoney_exec_t)

permissive unitedworldmoney_t;

type unitedworldmoney_initrc_exec_t;
init_script_file(unitedworldmoney_initrc_exec_t)

type unitedworldmoney_conf_t;
files_type(unitedworldmoney_conf_t)

type unitedworldmoney_var_lib_t;
files_type(unitedworldmoney_var_lib_t)

type unitedworldmoney_var_run_t;
files_type(unitedworldmoney_var_run_t)

type unitedworldmoney_port_t;
corenet_port(unitedworldmoney_port_t)

########################################
#
# unitedworldmoney local policy
#
allow unitedworldmoney_t self:process { fork };

allow unitedworldmoney_t self:fifo_file rw_fifo_file_perms;
allow unitedworldmoney_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(unitedworldmoney_t, unitedworldmoney_conf_t, unitedworldmoney_conf_t)
manage_files_pattern(unitedworldmoney_t, unitedworldmoney_conf_t, unitedworldmoney_conf_t)

manage_dirs_pattern(unitedworldmoney_t, unitedworldmoney_var_lib_t, unitedworldmoney_var_lib_t)
manage_files_pattern(unitedworldmoney_t, unitedworldmoney_var_lib_t, unitedworldmoney_var_lib_t)
files_var_lib_filetrans(unitedworldmoney_t, unitedworldmoney_var_lib_t, { dir file })

manage_dirs_pattern(unitedworldmoney_t, unitedworldmoney_var_run_t, unitedworldmoney_var_run_t)
manage_files_pattern(unitedworldmoney_t, unitedworldmoney_var_run_t, unitedworldmoney_var_run_t)

sysnet_dns_name_resolve(unitedworldmoney_t)
corenet_all_recvfrom_unlabeled(unitedworldmoney_t)

allow unitedworldmoney_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(unitedworldmoney_t)
corenet_tcp_sendrecv_generic_node(unitedworldmoney_t)
corenet_tcp_sendrecv_all_ports(unitedworldmoney_t)
corenet_tcp_bind_generic_node(unitedworldmoney_t)

gen_require(`
    type unitedworldmoney_port_t;
')
allow unitedworldmoney_t unitedworldmoney_port_t:tcp_socket name_bind;

gen_require(`
    type unitedworldmoney_port_t;
')
allow unitedworldmoney_t unitedworldmoney_port_t:tcp_socket name_connect;

domain_use_interactive_fds(unitedworldmoney_t)

files_read_etc_files(unitedworldmoney_t)

miscfiles_read_localization(unitedworldmoney_t)

sysnet_dns_name_resolve(unitedworldmoney_t)

allow unitedworldmoney_t unitedworldmoney_exec_t:file execute_no_trans;
allow unitedworldmoney_t self:process setsched;
corecmd_exec_ls(unitedworldmoney_t)
corenet_tcp_connect_http_port(unitedworldmoney_t)
dev_read_urand(unitedworldmoney_t)
fs_getattr_xattr_fs(unitedworldmoney_t)
kernel_read_system_state(unitedworldmoney_t)
